.page__nav {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(#2c3e50, 0.2);


    @include component(nav) {
        color: $color-white;


        @include part(section) {
            margin-top: 15px;
            margin-top: 1.5rem;
            margin-bottom: 15px;
            margin-bottom: 1.5rem;


            @include option(left) {
                float: left;
                text-align: left;
            }


            @include option(right) {
                float: right;
                text-align: right;


                a {
                    margin-left: 15px;
                    margin-left: 1.5rem;
                    color: inherit;
                    text-decoration: none;
                    @include vendor(transition, border-bottom 0.2s);


                    &:hover {
                        border-bottom: 2px solid $color-white;
                    }
                }
            }

        }


        @include part(h) {
            font-family: 'Noto Sans', sans-serif;
            font-size: 18px;
            font-size: 1.8rem;


            a {
                color: $color-white;
                border-bottom: 0;
            }

            span {
                display: none;

                @include when($break-medium) {
                    display: inline-block;
                }
            }
        }

    }

}
