@include component(search) {
    padding-top: 20px;
    padding-top: 2.0rem;
    padding-bottom: 15px;
    padding-bottom: 1.5rem;


    @include part(input) {
        border: none;
        box-shadow: none;
        outline: 0;
        font-size: 17px;
        font-size: 1.7rem;
        color: darken($color-white, 15%);
        width: 100%;
        -webkit-appearance: none;

        background: url(/search.png) no-repeat -11.9px 40%;
        background: url(/search.svg) no-repeat -11.9px 40%;

        padding-left: 30px;
        padding-left: 3.0rem;

        @include vendor(transition, all 300ms ease-in-out);


        &:focus {
            background: url(/search-hover.svg) no-repeat -11.9px 40%;
            color: darken($color-white, 50%);
        }


        &::-webkit-input-placeholder {
            color: darken($color-white, 15%);
        }


        &:-moz-placeholder {
            color: darken($color-white, 15%);
        }


        &::-moz-placeholder {
            color: darken($color-white, 15%);
        }


        &:-ms-input-placeholder {
            color: darken($color-white, 15%);
        }


        &::-moz-selection {
            background: darken($color-white, 50%);
        }


        &::selection {
            background: darken($color-white, 50%);
        }
    }

}
