h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: 'Montserrat' sans-serif;
    font-weight: 400;


    &.h--uppercase {
        text-transform: uppercase;
    }


    &.h--center {
        text-align: center;
    }


    a {
        text-decoration: none;


        &:hover {
            border-bottom: 3px solid $color-blue-light;
        }
    }
}

h1, .h1 {
    @include when($break-large) {
        font-size: 40px;
        font-size: 4.7rem;
    }
}

h2, .h2 {
    @include when($break-large) {
        font-size: 35px;
        font-size: 3.5rem;
    }
}

h3, .h3 {
    @include when($break-large) {
        font-size: 30px;
        font-size: 3.0rem;
    }
}

h4, .h4 {
    font-size: 25px;
    font-size: 2.5rem;
}

h5, .h5 {
    font-size: 20px;
    font-size: 2.0rem;
}

h6, .h6 {
    font-size: 16px;
    font-size: 1.6rem;
}
