.page__nav {
    position: absolute;
    top: 0;
    width: 100%;
    color: $color-blue-light;


    .nav {
        .nav__section {
            font-family: $font-family;
            @include rem(margin, $nav-margin 0);


            &.\--left {
                float: left;
                text-align: left;
                font-weight: 400;


                a {
                    color: inherit;
                }
            }


            &.\--right {
                float: right;
                text-align: right;


                a {
                    @include rem(margin-left, $nav-margin);
                    color: inherit;
                    text-decoration: none;


                    &.active,
                    &:hover {
                        border-bottom: 2px solid $color-blue-light;
                    }
                }
            }

        }


        .nav__h {
            @include font-size($font-size);


            a {
                color: $color-white;
                border-bottom: 0;
            }

            span {
                display: none;

                @include when($break-small) {
                    display: inline-block;
                }
            }
        }

    }


    &.\--home {
        background-color: transparent;
        color: $color-white;


        .nav__section {
            &.\--right {

                a {
                    &.active,
                    a:hover {
                        border-bottom-color: $color-white;
                    }
                }
            }
        }
    }
}
